.login-form {
  width: 80vw;
  max-width: 400px;
}

.login-form h1 {
  text-align: center;
}

.login-form input {
  width: 100%;
  margin-bottom: 0.5em;
}

.form-control.invalid {
  color: var(--danger-100);
}
.form-control.invalid input {
  border-color: var(--danger-100);
}

.login-submit {
  border-radius: 0;
  background: var(--dark);
  color: var(--light);
  width: 100%;
  margin-top: 1em;
}

.login-submit:hover {
  background: var(--light);
  color: var(--dark);
}

.login-links {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 800px) {
  .login-form {
    max-width: 470px;
    padding: 1em;
    border: 3px solid var(--dark);
    border-radius: 1em;
  }
}
