.message {
  position: fixed;
  top: 15vh;
  left: 10vw;
  right: 10vw;
  border: 3px solid black;
  padding: 0 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(119, 119, 119, 0);
  z-index: 100;
}

.message.error {
  border: 3px solid var(--danger-100);
  background: var(--danger-300);
}

.message.success {
  border: 3px solid var(--success-100);
  background: var(--success-300);
}

.message svg {
  cursor: pointer;
  z-index: 100;
}

.message svg:hover {
  color: white;
}

.message a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
